.top-bar {
  background-color: grey;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;

  .dots {  
    .dot {
      height: 14px;
      width: 14px;
      border-radius: 50%;
      display: inline-block;
      margin: 5px;
    }
    
    .red {
      background-color: #FF605C;
    }
    
    .yellow {
      background-color: #FFBD44;
    }
    
    .green {
      background-color: #00CA4E;
    }
  }
}
