.projects {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  h1 {
    &.projects-title {
      font-size: 100px;
    }
  }

  .project {
    width: 100%;
    border-radius: 5px;
    transition: transform 250ms;
    word-break: break-word;

    &:hover {
      transform: scale(1.02);
      cursor: pointer;
    }

    .project-pic {
      max-height: 300px;
      padding: '10px';
    }

    .summary {
      font-size: 20px;
      text-overflow: ellipsis;
      height: 50px;
    }

    .project-header {
      padding: 5px;

      h2 {
        font-size: 50px;
      }
    }

    .launch-icon {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}