.projects {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .projects-title {
    font-family: monospace;
  }

  .project {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    border-radius: 15px;
    transition: transform 250ms;
    word-break: break-word;
    color: white;
    background-color: #424242;

    &:hover {
      transform: scale(1.02);
      cursor: pointer;

      .launch-icon {
        opacity: 1;
      }
    }

    &:focus {
      transform: scale(1.02);

      .launch-icon {
        opacity: 1;
      }
    }

    .project-pic {
      overflow: hidden;
      height: 300px;
      width: 300px;
      padding: 10px;
      border-radius: 15px;
    }

    .header {
      font-family: monospace;
      font-size: 50px;
    }

    .summary {
      font-family: monospace;
      font-size: 20px;
    }

    .launch-icon {
      position: absolute;
      right: 15px;
      top: 15px;
      opacity: 0;
      transition: opacity 250ms;
    }
  }
}