// Color scheme for error validation
$error: #FF605C; 
$warning: #FFBD44; 
$success: #00CA4E; 

// General white and black as variables
$white: #ffffff;
$black: #000000;

// Theme color scheme
$lighter-gray: #EEEEEE;
$light-gray: #CCCCCC;
$gray: #999999;
$dark-gray:#666666;
$darker-gray: #333333;

$blue: #338bf8;
$orange: #ff9412;
