// Breakpoints for screen sizing
$breakpoints: (
  "small": (
    "min": 0px,
    "max": 480px
  ),
  "medium": (
    "min": 481px,
    "max": 700px
  ),
  "large": (
    "min": 701px,
    "max": 1024px
  ),
  "x-large": (
    "min": 1025px,
    "max": 1440px
  ),
  "2x-large": (
    "min": 1441px,
    "max": 1920px
  ),
  "3x-large": (
    "min": 1921px,
    "max": 5000px
  ),
);

$height: calc(85vh - 100px);
$rounded: 15px;
