.text-print {
  display: flex;
  align-items: center;
  font-family: monospace;
  color: white; 

  h1 {
    font-size: 120px;
    margin: 0;

    @media screen and (max-width: 850px)  {
      font-size: 40px;
    }
  }

  h2 {
    font-size: 60px;
    margin: 0;

    @media screen and (max-width: 850px)  {
      font-size: 20px;
    }
  }


  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

  .text-cursor {
    background: #696969;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;

    &.h1 {
      width: 40px;
      height: 100px;

      @media screen and (max-width: 850px)  {
        width: 20px;
        height: 50px;
      }
    }

    &.h2 {
      width: 25px;
      height: 55px;

      @media screen and (max-width: 850px)  {
        width: 12px;
        height: 25px;
      }
    }
    
  }
}