.TextPrint {
  @keyframes move-text {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }

  h1 {
    font-size: 120px;
    color: white;
    
    span {
      span {
        position: relative;
        opacity: 0;
        animation: move-text 0.75s forwards;
      }
    }
  }
}