.mcs-topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #383838;
  padding: 0 5px;
  border-radius: 5px;

  .technology {    
    font-family: monospace;
    font-size: 1rem;
    color: white;
    transition: background-color 250ms;
    background-color: #272727;

    span {
      font-family: inherit;
      font-size: 20px; 
    }

    &:hover {
      background-color: #757575;
    }
  }

  .mcs-buttons {
    a, button {
      font-size: 20px; 
      color: white;
      margin: 5px;
      font-family: monospace;
  
      &:hover {
        background-color: #757575;
      }
    }
  }
}
