.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  .icon {
    @include scale(large, 1.05);
    @include text-size((
      "small": 30px,
      "medium": 35px,
      "large": 40px,
      "x-large": 45px,
      "2x-large": 50px,
      "3x-large": 55px
    ));

    color: white;
  }

  .quick-links {
    display: flex;

    .link {
      @include scale(large, 1.05);
      @include text-size((
        "small": 15px,
        "medium": 20px,
        "large": 25px,
        "x-large": 30px,
        "2x-large": 35px,
        "3x-large": 40px
      ));
      
      margin: 5px;
      color: white;
      background-color: transparent;
    }
  }
  
  .separator {
    border: 3px solid white;
    border-radius: 25px;
    width: 80%;
  }
}