.projects {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
  .projects-title {
    @include text-size($headings, h0)
  }
}