.terminal-container {
  padding: 5px;

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333333; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(42, 42, 42); 
    border-radius: 5px;
  }

  .terminal {
    background-color: black;
    border-radius: 10px;
    filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.5));
    
    .top-bar {
      background-color: grey;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    
      .dots { 
        display: flex;
        align-items: center;
        
        .dot {
          height: 14px;
          width: 14px;
          border-radius: 50%;
          display: inline-block;
          margin: 5px;
        }
        
        .red {
          background-color: #FF605C;
        }
        
        .yellow {
          background-color: #FFBD44;
        }
        
        .green {
          background-color: #00CA4E;
        }
      }
    }  
  
    .content {
      word-break: break-all;
      padding: 20px;
      overflow: auto;
      height: calc(92vh - 32px);
      position: relative;
      white-space: pre-wrap;
      color: white;
      
      .cursor {
        @keyframes cursor-blink {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 50;
          }
        }
        
        width: 10px;
        height: 20px;
        background: gray;
        animation: cursor-blink 1s steps(2) infinite;
      }
  
      .MuiTypography-h4	{
        font-family: monospace;
        font-size: 13px;
  
        @media screen and (min-width: 480px) {
          font-size: 14px;
        }
        @media screen and (min-width: 640px) {
          font-size: 15px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 20px;
        }
      }
    }
  }
}

.add-tint {
  opacity: 20%;
  transition: opacity 1s;
}

.no-tint {
  opacity: 100%;
  transition: opacity 1s;
}

.mini-terminal {
  z-index: 10000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  filter: drop-shadow(10px 10px 7px rgba(0,0,0,0.5));
  border: solid white;

  color: black;
  background-color: black;
  border-radius: 10px;
  width: 10vh;

  .top-bar {
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
    .dots { 
      display: flex;
      align-items: center;
      
      .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 5px;
      }
      
      .red {
        background-color: #FF605C;
      }
      
      .yellow {
        background-color: #FFBD44;
      }
      
      .green {
        background-color: #00CA4E;
      }
    }
  }

  .content {
    padding: 5px;
    width: 20px;
    height: 50px;
    position: relative;
  }
}
