.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: monospace;

  .intro {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;

    .name {
      width: 100%;
      font-size: 120px;
      color: white;
      background-color: #262626;
    }
    .title {
      font-size: 60px;
      color: white;
      background-color: #262626;
    }
  }

  .experiences {
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;

    .work-experience {
      text-align: center;
      font-size: 100px;
      color: white;
    }
  }
}