.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: center no-repeat url('../../../public/assets/mountains.png');
  font-family: monospace;

  .intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .name {
      font-size: 120px;
      color: white;
    }
    .title {
      font-size: 60px;
      color: white;
    }
  }

  .experiences {
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;

    .work-experience {
      text-align: center;
      font-size: 100px;
      color: white;
    }
  }
}