.project {
  @include apply-breakpoints(height, (
    "small": 100%,
    "medium": 100%,
    "large": 100%,
    "x-large": 700px,
    "2x-large": 850px,
    "3x-large": 950px
  ));

  border-radius: $rounded;
  word-break: break-word;
  color: $white;
  background-color: $darker-gray;

  display: flex;
  align-items: center;
  flex-direction: column;

  .project-picture {
    @include image-size((
      "small": 200px,
      "medium": 250px,
      "large": 300px,
      "x-large": 350px,
      "2x-large": 400px,
      "3x-large": 450px
    ));
    
    padding: 10px;
    border-radius: $rounded;
    fill: $white;
  }

  .project-header {
    @include text-size($headings, h4)
  }

  .project-summary {
    @include text-size($body)
  }

  .project-launch-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0;
    transition: opacity 250ms;
  }

  @include scale(medium, 1.02) {
    .project-launch-icon {
      opacity: 1;
    }
  };
}