.experience {
  width: 100%;
  max-width: 1300px;
  padding: 10px;
  background-color: #424242;
  color: white;
  margin-top: 10px;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  border-radius: 15px;


  .header {
    display: flex;
    align-items: center;

    .logo {
      border-radius: 15px;
      height: 10rem;
      width: 10rem;
    }

    .company {
      padding-left: 10px;
    }

    .heading {
      font-family: monospace;
    }
  }

  .experience-content {
    // color: white;

    ul {
      font-size: 20px;

      li {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

.experiences {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  justify-content: center;

  .experiences-title {
    font-family: monospace;
  }
}